# generated
*.cmd
*.ko
*.mod
*.mod.c
*.o
*.order
*.s
*.symvers
*.d

# node
node_modules/
package-lock.json

# binaries
src/receiver/receiver
src/sender/sender

# misc
.vscode

# logging
*.tmp
*.csv
eval/

# test files
src/receiver/out.bmp
src/receiver/out.txt
src/sender/pic.bmp
src/sender/beat.mp3
src/sender/text.txt